{% extends 'base.html' %}
{% block content %}
<h1>My Bookings</h1>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Number of Guests</th>
            <th>Date</th>
            <th>Time</th>
            <th>Special Request</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ reservation.name }}</td>
            <td>{{ reservation.email }}</td>
            <td>{{ reservation.phone_number}}</td>
            <td>{{ reservation.number_of_guests }}</td>
            <td>{{ reservation.reservation_date }}</td>
            <td>{{ reservation.reservation_time }}</td>
            <td>{{ reservation.special_request }}</td>

            <td>
                <a href="{% url 'update' reservation.id %}" class="btn btn-success" type="button">UPDATE</a>
                <a href="{% url 'delete' reservation.id %}" class="btn btn-danger" type="button" onclick="return confirm('Are you sure you want to delete this customer?')" >DELETE</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
